<div class='nested-fields col-md-12 form-group'>
  <div class="col-md-2 col-sm-4 col-xs-2 ">
    <%= link_to_remove_association "x", f , class:'btn btn-default pull-right' %>
  </div>
  <div class='col-md-4 col-sm-4 col-xs-10'>
    <%= f.text_field :comment, class: "form-control" %>
  </div>

  <div class='col-md-6 col-sm-4 col-xs-12 text-center'>
    <%= f.date_select :date, :value => Time.now.strftime('%Y-%m-%d') %>
    <br><br>
  </div>
  <br>
</div>
