<%- model_class = Trial -%>

<div class="row">
  <div class='col-md-12'>
    <h1 class="page-header">Juicios Asignados</h1>
  </div>
</div>
<div class='row'>
<div class='col-md-12'>
  <%= render 'quick_table', model_class: model_class%>
</div>

<% if @trials.blank? %>
<div class="col-md-12">
  <p><strong>No hay Juicios Asignados</strong></p>
</div>
<% end %>
</div>

<div class='row'>
  <div class='col-md-4 col-xs-4'>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), trials_path, :class => 'btn btn-default' %>
  </div>
  <div class="col-md-4 col-xs-4"></div>
  <div class='col-md-4 col-xs-4 text-center'>
  </div>
</div>
