<div class="row">
  <div class="col-md-12">
    <h1>Usuario</h1>
  </div>

  <div class="col-md-4">
    <strong>Nombre:</strong>
    <%= @user.name %>
  </div>

  <div class="col-md-4">
    <strong>Username:</strong>
    <%= @user.username %>
  </div>
</div>
