<%- model_class = Trial -%>

<div class="row">

  <h1 class="page-header">Resumen</h1>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tareas (5 más Recientes)</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">

          <% @tasks.each do |task| %>
            <%= link_to tasks_assigned_path, class:"list-group-item" do%><%= task.title %><span class="badge"><%= localeChange(task.created_at) %></span><% end %>
          <% end %>

        </div>
        <div class="text-center">
          <a href="#">Ver todas las tareas <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-briefcase fa-fw"></i>Juicios Asignados (5 más recientes)</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <%= render "quick_table", model_class: model_class %>
        </div>
        <div class="text-center">
          <a href="/trials_assigned">Ver Todos los Juicios Asignados <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

      </div>
    </div>
  </div>


</div>
